@tailwind base;
@tailwind components;
@tailwind utilities;


.otp-input-reset-email {
  padding: 5px;
  /* margin: 0 10px; */
  font-size: 20px;
  text-align: center;
}
/* Background colour of an input field with value */
.otp-input-reset-email {
  border-width: 1px;
  border-color: #E9E8E9 !important;
}
.otp-input-reset-email.is-complete {
  border-color: #ff6666 !important;
}

.otp-input-reset-email::-webkit-inner-spin-button,
.otp-input-reset-email::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* input::placeholder {
  font-size: 15px;
  text-align: center;
  font-weight: 600;
} */

