@import url("https://fonts.cdnfonts.com/css/euclid-circular-b");
@tailwind base;
input::-ms-clear, input::-ms-reveal, ::-ms-reveal {
    display: none !important;
}
@tailwind components;
@tailwind utilities;

.checkbox{
    -webkit-appearance: none;
    position: relative;
    width: 20px;
    height: 20px;
    /* border-radius: 5px; */
    background: #fff;
    border: 1px solid #e9e6e6;
    cursor: pointer;
}

.checkbox:checked{
    @apply bg-gradient-to-br from-orange to-red text-transparent rounded-md
}

.checkbox::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    pointer-events: none;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='white' class='w-6 h-6'%3e%3cpath stroke-linecap='round' stroke-linejoin='round' d='M4.5 12.75l6 6 9-13.5'/%3e%3c/svg%3e");
    background-size: contain;
    background-repeat: no-repeat;
}

.checkbox::before{
    display: none;
}

.checkbox:checked::before{
    display: block;
}